.park-main-header {
  display : flex;
  align-items : center;
}

.park-logo {
  height: 2.5em;
}

.park-gh-logo {
  height: 1.2em;
}

.park-title {
  display: inline;
  color: #204a87;
  padding-left: 20px;
}

.park-map {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 800px;
}

.park-card:hover {
  background-color: #fa0;
}

.justify {
  display: flex;
  justify-content: space-between;
  align-items : center;
} 

.selected {
  opacity:.6
}

.maxheight {
  height: 100%;
}