.park-main-header {
  display : flex;
  align-items : center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.park-logo {
  height: 2em;
}

.park-gh-logo {
  height: 1.2em;
}

.park-title {
  display: inline;
  color: #204a87;
  padding-left: 20px;
}

.park-map {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
}

.park-card:hover {
  background-color: #fa0;
}

.justify {
  display: flex;
  justify-content: space-between;
  align-items : center;
} 

.chart-buttons {
  display : inline-block;
  align-items : center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.selected {
  opacity:.6
}

.boldable:hover {
  font-weight: bold;
}

.normable {
  font-weight: bold;
}



.park-nav-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.park-nav-item {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
}

.park-nav-item-active {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

