.App {
  text-align: center;
}

.App-logo {
  float: left;
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  vertical-align: middle;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
  /*display: inline;*/
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
